extends layout

block content
    div.span8.offset4
        h3(style="text-align:center") DoWrk is the future of being productive.
        h4(style="text-align:center") Have trouble focusing? Keep clicking on youtube, facebook or reddit?